# Environment variables
.env

# Dependency directories
node_modules/
/client/node_modules/

# Build directory
dist/
/build

# A Windows file containing a thumbnail cache
Thumbs.db

#logs
logs/
*.log

#temporary files
*.tmp 
*.temp

# Production build directory
/client/build/

# Editors
.vscode/
.idea/
*.sublime-workspace
